* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: rgb(206, 206, 206);
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.four-column {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 25%;
    height: 600px;
}

.center {
    width: 95%;
    background-color: rgb(255, 255, 255);
    word-break: break-word;
    border-radius: 15px 15px;
}

.text {
    padding: 10%;
    height: 400px;
    word-break: break-word;
}

.title {
    color: rgb(32, 32, 32);
}

.noneImg img {
    display: none;
}

.noneImg {
    overflow: hidden;
}

.link {
    color: aqua;
    float: right;
}

.description *:not(:first-child) {
    display: none;
}

.description *:first-child {
    width: 100px;
}

.description img {
    width: 100%;
}